.menuprincipal
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-items: center;

}


.puceprincipalefirst {
	margin-right: 5px;
}

}

.puceprincipal  li
{
	display: inline-block;
	list-style: none;
}


.puceprincipal {
	margin: 0 5px;
}

.puceprincipal a {
	color: #FF0000;
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.puceprincipal a:hover {
	background-color: #111111;
}

.pucelastfirst {
	margin-right: 5px;
}

}

.pucelast  li
{
	display: inline-block;
	list-style: none;
}


.pucelast {
	margin: 0 5px;
}

.pucelast a {
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.logo
{
	width: 4em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.socialNetwork
{
	width: 2em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

p, em
{
    color: blue;
}

.main-webcam
{
	position: relative;
	bottom: 150px; left: 1500px;
}