@font-face 
{
    font-family: 'MaSuperPolice';
    src: url('../Police_ecriture/KaushanScript-Regular.otf');
}
body{
	font-family: MaSuperPolice;	
}
.menuprincipal
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-items: center;
	justify-content: space-around;

}


.puceprincipalefirst {
	margin-right: 5px;
}

}

.puceprincipal  li
{
	display: inline-block;
	list-style: none;
}


.puceprincipal {
	margin: 0 5px;
}

.puceprincipal a {
	color: #FF0000;
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.puceprincipal a:hover {
	background-color: #111111;
}

.pucelastfirst {
	margin-right: 5px;
}

}

.pucelast  li
{
	display: inline-block;
	list-style: none;
}


.pucelast {
	margin: 0 5px;
}

.pucelast a {
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.logo
{
	width: 4em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.socialNetwork
{
	width: 2em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

p, em
{
    color:black;
}




/*
section
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    border: 10px solid #666666;
}
*/
#conteneur1
{
    display:flex;
	flex-direction: column;
	

	justify-content: space-around;
	
	flex-wrap: wrap;
	
	   
}
#conteneur2
{
    display:flex;
    flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	flex: 3;
	margin-right : 150px;
	margin-left : 150px;
	
	
	   
}
#conteneur3
{
    display:flex;
    flex-direction: row;
	justify-content: center;
	margin: 10px;
	flex-wrap: wrap;
	  
}
#conteneur4
{
    display:flex;
    flex-direction: column;
	justify-content: center;
	margin: 10px;
	flex-wrap: wrap;
	margin-right : 10px;
	margin-left : 50px;

	   
}
#conteneur5
{
    display:flex;
    flex-direction: column;
	justify-content: center;
	margin: 10px;
	flex-wrap: wrap;
	  
}
.element1
{
	flex: 2;
	

}
.element2
{
	margin : 10px;
	flex: 1;
	border: 3px solid black;
	border-radius: 7px;
	background-color: #F0F0F0; 
}

.detailspot
{
	flex: 5;
	border: 3px solid black;
	border-radius: 7px;
	margin : 10px;
	background-color: #F0F0F0; 
}
.podcast
{
	flex: 1;
	border: 3px solid black;
	border-radius: 7px;
	margin : 10px;
	background-color: #F0F0F0; 
}
.element3
{
	margin : 10px;
	border: 3px solid black;
	border-radius: 7px;
	background-color: #F0F0F0; 
}
.logo_print
{
	width: 3em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin-right: 100px;
}

.valide
{
	width: 20px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	background-color: #F0F0F0; 
}

.separator
{

	border: 1px solid #00FFFF;
	border-radius: 5px;
	max-width: 50%;
	min-width:10px;
}

.button_container{
	width: 100px;
	text-align: center;
	
}
#button_modal{
	height: 10px;
	width: 300px;
	background-color: white;
	color: black;
	font-family: MaSuperPolice;
	font-size: 20px;
	border: none;
	cursor: pointer;
	margin-top: 50px;
	background-color: #F0F0F0; 
}
#modal1{
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 340px;
	width:  700px;
	background-color:  #666666;
	border-radius: 10px;	
	text-align: center;
	color: black;
	position: absolute;
	top: -700px;
	transition: 0.5s;
	margin-top: 10px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(128, 128, 128, 0.5))
}
#modal2{
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 340px;
	width:  700px;
	background-color:  #666666;
	border-radius: 10px;	
	text-align: center;
	color: black;
	position: absolute;
	top: -700px;
	transition: 0.5s;
	margin-top: 10px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(128, 128, 128, 0.5))
}
#modal3{
	display:flex;
	flex-direction: column;
	justify-content: center;
	height: 340px;
	width:  700px;
	background-color: #666666;
	border-radius: 10px;	
	text-align: center;
	color: black;
	position: absolute;
	top: -700px;
	transition: 0.5s;
	margin-top: 10px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(128, 128, 128, 0.5))
}
#modal h1{
	padding-top: 2px;
}
#close{
	height: 50px;
	width: 300px;
	background-color: #F0F0F0; 
	color: black;
	font-size: 20px;
	border: none;
	cursor: pointer;
	margin: auto;
	font-family: MaSuperPolice;
	justify-content: center;
}
