@font-face 
{
    font-family: 'MaSuperPolice';
    src: url('../Police_ecriture/KaushanScript-Regular.otf');
}
body{
	font-family: MaSuperPolice;	
	min-width: 1400px;
	min-height: 500px;

}
/*En tête*/
/* ppppppppppppppppppppppppppppppppppppppp*/
.menuprincipal
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-items: center;
	justify-content: space-around;

}


.puceprincipalefirst {
	margin-right: 5px;
}


.puceprincipal  li
{
	display: inline-block;
	list-style: none;
}


.puceprincipal {
	margin: 0 5px;
}

.puceprincipal a {
	color: #FF0000;
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.puceprincipal a:hover {
	background-color: #111111;
}

.pucelastfirst {
	margin-right: 5px;
}

.pucelast  li
{
	display: inline-block;
	list-style: none;
}


.pucelast {
	margin: 0 5px;
}

.pucelast a {
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.logo
{
	width: 4em;
	height: auto;
	max-width: 100%;
	max-height: 100%;

}
/* ppppppppppppppppppppppppppppppppppppppp*/

/*Section ma recherche*/
/* ppppppppppppppppppppppppppppppppppppppp*/

.menubarre
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 2px;
}

.logo_calendar
{
	width: 2em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
.bouton
{
	padding: 7px;
	border :3px solid blue;
	border-radius: 7px;
	box-shadow: 5px;
	background-color: blue;
	color: white;
	text-decoration: none;
}
.bouton2
{
	padding: 7px;
	border :3px solid blue;
	border-radius: 7px;
	box-shadow: 5px;
	background-color: blue;
	color: white;
	text-decoration: none;
}


/* ppppppppppppppppppppppppppppppppppppppp*/

/*Partie description d'un covoiturage*/
/* ppppppppppppppppppppppppppppppppppppppp*/
.section_principal
{
	display: flex;
	flex-direction: column;
	/*border-radius: 7px;*/
	overflow: scroll;
	/*border: 3px solid black;*/
	height: 530px;
}

.proposition_covoit
{
	border: 3px solid black;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin : 2px;
}
.profil_driver h1
{
	font-size: 150%;
	font-weight: bold;
}

.profil_driver h2
{
	font-size: 100%;
	font-style: italic;
	font-family: serif;

}

.profil_driver
{
	flex :2;
}
.profil_photo
{
	margin-left: 30px;
	width: 10em;
	height: auto;
	flex :1;
}

.info_voyage
{
	flex :1.2;
	position: relative;
	/*Position relative par rapport à sa place initial*/
	top : 45px;
	right: 30px;
}

.info_voyage ul
{
	list-style-type: square;
	font-family: serif;
}

.description_voyage

{
	margin : 20px;
	margin-top: 0px;
	flex :10;
}
.description_voyage p, a
{
	font-family: serif;
}
.bouton_bleu
{
	padding: 7px;

	border :3px solid blue;
	border-radius: 7px;
	box-shadow: 5px;
	background-color: blue;
	color: white;
	text-decoration: none;

	position: relative;
	/*Position relative par rapport à sa place initial*/
	bottom: -90px; /*On descend de 90 pixels*/
	right: 10px; /*On décale de 10 pixels depuis la droite*/

}
/* ppppppppppppppppppppppppppppppppppppppp*/

/*Pied de page*/
/* ppppppppppppppppppppppppppppppppppppppp*/
.socialNetwork
{
	width: 2em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
/* ppppppppppppppppppppppppppppppppppppppp*/