.menuprincipal
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #666666;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	align-items: center;

}

.puceprincipal  li
{
	display: inline-block;
	list-style: none;
}

}
.pucefirst {
	margin-right: 5px;
}

}
.puceprincipal {
	margin: 0 5px;
}

.pucelast {
	margin-left: auto;
	margin-right: 5px
}

.puceprincipal a
{
	color: #FF0000;
	text-align: center;
	padding: 16px;
	margin: 10px;
	text-decoration: none;
}

.puceprincipal a:hover {
	background-color: #111111;
}

.logo
{
	width: 4em;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}